{% extends 'main.html' %}
{% load static %}
{% block content %}

<br>
<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <p>Are you sure you want to delete "{{course}}"</p>
               <form method="POST" action="{% url 'deleteCourse' course.id %}">
               {% csrf_token %}
               <a class="btn btn-warning" href="{% url 'home' %}">Cancel</a>
               <input class="btn btn-danger" type="submit" name="confirm">
               </form>
        </div>
    </div>
</div>

{% endblock %}